<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yang.mapper.LogisticsOrderMapper">

    <insert id="insertLogisticsOrder" parameterType="com.yang.entity.LogisticsOrder" useGeneratedKeys="true" keyProperty="id">
        INSERT into logistics_order (
            user_sign,
            order_number,
            ordering_products,
            send_mobile_phone,
            send_call,
            sender_name,
            sender_company,
            sender_address,
            sender_address_one,
            sender_province,
            sender_city,
            sender_postal_code,
            sender_street,
            from_place,
            destination,
            recipient_name,
            recipient_company,
            recipient_address,
            recipient_address_one,
            recipient_province,
            recipient_city,
            recipient_postal_code,
            recipient_street,
            recipient_phone,
            recipient_mobile_phone,
            transfer_no,
            freight,
            order_status,
            passenger_order,
            quantity_weight,
            weight,
            merchant_number,
            pdf_url,
            create_time,
            update_time
        ) values (
                     #{userSign},
                     #{orderNumber},
                     #{orderingProducts},
                     #{sendMobilePhone},
                     #{sendCall},
                     #{senderName},
                     #{senderCompany},
                     #{senderAddress},
                     #{senderAddressOne},
                     #{senderProvince},
                     #{senderCity},
                     #{senderPostalCode},
                     #{senderStreet},
                     #{fromPlace},
                     #{destination},
                     #{recipientName},
                     #{recipientCompany},
                     #{recipientAddress},
                     #{recipientAddressOne},
                     #{recipientProvince},
                     #{recipientCity},
                     #{recipientPostalCode},
                     #{recipientStreet},
                     #{recipientPhone},
                     #{recipientMobilePhone},
                     #{transferNo},
                     #{freight},
                     #{orderStatus},
                     #{passengerOrder},
                     #{quantityWeight},
                     #{weight},
                     #{merchantNumber},
                     #{pdfUrl},
                     #{createTime},
                     #{updateTime}
                 )
    </insert>

    <insert id="insertLogisticsPackage" parameterType="com.yang.entity.LogisticsPackage" useGeneratedKeys="true" keyProperty="id">
        insert into logistics_package (
            order_id,
            package_explain,
            package_width,
            package_high,
            package_length,
            package_heavy
        ) values (
                     #{orderId},
                     #{packageExplain},
                     #{packageWidth},
                     #{packageHigh},
                     #{packageLength},
                     #{packageHeavy}
                 )
    </insert>

    <insert id="insertLogisticsProduct" parameterType="com.yang.entity.LogisticsProduct" useGeneratedKeys="true" keyProperty="id">
        insert into logistics_product (
            package_id,
            chinese_name,
            english_name,
            specie,
            number,
            money,
            price,
            currency,
            specifications
        ) values (
                     #{packageId},
                     #{chineseName},
                     #{englishName},
                     #{specie},
                     #{number},
                     #{money},
                     #{price},
                     #{currency},
                     #{specifications}
                 )
    </insert>


</mapper>
